.mobile-hide {
    display: flex !important;
}

.mobile-show {
    display: none !important;
}

@media only screen and (max-width: 961px) {
    .default-page {
        max-width: calc(100% - var(--size-m) * 2) !important;
    }

    .mobile-hide {
        display: none !important;
    }

    .mobile-show {
        display: flex !important;
    }
}