#error-info {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
    width: 100%;
    margin-top: var(--size-xl);
}

#error-info .title {
    font-weight: 500;
    text-align: center;
}