#footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--f-background);
}

#footer > div {
    width: var(--page-width);
    margin: var(--size-xl) var(--size-l) var(--size-xl) var(--size-l);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: var(--size-l);
    flex-wrap: wrap;
}

#footer img {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@media only screen and (max-width: 961px) {
    #footer > div {
        margin: var(--size-xl) var(--size-m) var(--size-xl) var(--size-m);
       
    }
}

@media only screen and (max-width: 600px) {
    #footer > div {
        flex-direction: column;
        align-items: center;
    }

    #footer img {
        width: 150px;
    }

    #footer > div .nav {
        flex-direction: column;
    }
}
